.claude/
CLAUDE.md
*.zip
*.webloc
.DS_Store
hooks/__pycache__/*
hooks/*.log
docs/Gavel.key
PCB/*backups
PCB/*.json
PCB/fp-lib-table
PCB/sym-lib-table
PCB/production/backups
PCB/.history/
Release.txt
/hardware/PCB/.history
hardware/PCB/sym-lib-table
hardware/PCB/fp-lib-table
hardware/PCB/fabrication-toolkit-options.json
*.bak
